*{
  box-sizing: border-box;
}
*:focus{
  outline: 2px dotted #FF7500;
  outline-offset: 3px;
}

a{
  text-decoration: none;
}


body{
  padding: 0;
  margin: 0;
  font-family: "open-sans-condensed", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.5px;
}


/* CONTAINER */
.container{
  width: 100%;
  max-width: 1140px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}